<footer class="footerMenu clearfix hidden-sm hidden-xs ">
    <div class="wrapper clearfix">
        <div class="footerCol col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
            <h4 translate>LAYOUT_ABOUT_LINK</h4>
            <ul>
                <li><a href="#"  translate >LAYOUT_MAIN_LINK</a></li>
                <li><a href="#"  translate >LAYOUT_PRODUCTS_LINK</a></li>
                <li><a href="#"  translate>LAYOUT_BLOG_LINK</a></li>
                <li><a href="#"  translate >LAYOUT_ABOUT_LINK</a></li>
                <li><a href="#"  translate >LAYOUT_CONTACTS_LINK</a></li>
            </ul>
        </div>
        <div class="footerCol col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <h4 translate>LAYOUT_VTAMINKA</h4>
            <ul>
                <li><a href="#"  translate >LAYOUT_MAIN_LINK</a></li>
                <li><a href="#"  translate >LAYOUT_PRODUCTS_LINK</a></li>
                <li><a href="#"  translate>LAYOUT_BLOG_LINK</a></li>
                <li><a href="#"  translate >LAYOUT_ABOUT_LINK</a></li>
                <li><a href="#"  translate >LAYOUT_CONTACTS_LINK</a></li>
            </ul>
        </div>
        <div class="footerCol col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <h4 translate>LAYOUT_LATEST_ARTICLES</h4>
            <ul>
                <li><a href="#"  translate >LAYOUT_MAIN_LINK</a></li>
                <li><a href="#"  translate >LAYOUT_PRODUCTS_LINK</a></li>
                <li><a href="#"  translate>LAYOUT_BLOG_LINK</a></li>
                <li><a href="#" translate >LAYOUT_ABOUT_LINK</a></li>
                <li><a href="#"  translate >LAYOUT_CONTACTS_LINK</a></li>
            </ul>
        </div>
        <div class="footerCol col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
            <h4 translate>LAYOUT_JOIN_US</h4>
            <ul>
                <li><a href="#" translate>LAYOUT_REGISTRATION_LINK</a></li>
                <li><a href="#" translate>LAYOUT_AUTHORIZE_LINK</a></li>
            </ul>
        </div>
        <div class="footerCol col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
            <h4 translate>LAYOUT_CONTACTS_LINK</h4>
            <p>email@Vtaminka.com</p>
            <!--                    <h4>Мы в соц сетях</h4>-->
            <div class="clearfix">
                <span class="social vk">E</span>
                <span class="social fb">B</span>
                <span class="social google">C</span>
                <span class="social tw">D</span>
            </div>

        </div>
    </div>
    <p class="copy">Copyright © 2016</p>
</footer>