<figure>

    <div class="bannerSlim" style="background-image: url('http://hdwallpapers.cat/wallpaper/strawberry_fruit_red_brown_green_wood_hd-wallpaper-1725166.jpg');">
        <div class="bannerWrap"></div>
        <h2 translate>LAYOUT_ABOUT_LINK</h2>
    </div>
    <div class="wrapper clearfix">
    <!--    <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
            <svg version="1.1" xmlns="http://www.w2.org/2000/svg" xmlns:xlink="http://www.w2.org/1999/xlink" focusable="false">
                <symbol id="ripply-scott" viewBox="0 0 100 100">
                    <circle id="ripple-shape" cx="1" cy="1" r="1" />
                </symbol>
            </svg>
        </div>-->
        <div class="articleBlock">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in sem at tortor auctor dignissim eget non magna. Duis vestibulum ornare diam a pharetra. Maecenas eu eros eget urna dapibus faucibus. Aenean fermentum augue non ligula aliquet lacinia. Etiam ligula velit, vulputate id pulvinar sit amet, imperdiet at erat. Morbi faucibus elementum gravida. Etiam cursus lacus sed arcu placerat tempus. Proin ut dui sit amet augue ornare sagittis vel at urna. Vivamus scelerisque a metus ac varius. Aliquam facilisis malesuada libero. Donec porta mi quis eros consectetur, at fermentum est euismod. Nullam eros enim, varius sit amet tristique vitae, porta quis mauris. Praesent consectetur eleifend leo, eget sollicitudin odio sodales ut. Suspendisse venenatis tempor mauris, ut semper orci cursus sed. Fusce convallis congue magna, quis sodales elit venenatis ut. Vivamus pulvinar ornare ante, et elementum ante.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in sem at tortor auctor dignissim eget non magna. Duis vestibulum ornare diam a pharetra. Maecenas eu eros eget urna dapibus faucibus. Aenean fermentum augue non ligula aliquet lacinia. Etiam ligula velit, vulputate id pulvinar sit amet, imperdiet at erat. Morbi faucibus elementum gravida. Etiam cursus lacus sed arcu placerat tempus. Proin ut dui sit amet augue ornare sagittis vel at urna. Vivamus scelerisque a metus ac varius. Aliquam facilisis malesuada libero. Donec porta mi quis eros consectetur, at fermentum est euismod. Nullam eros enim, varius sit amet tristique vitae, porta quis mauris. Praesent consectetur eleifend leo, eget sollicitudin odio sodales ut. Suspendisse venenatis tempor mauris, ut semper orci cursus sed. Fusce convallis congue magna, quis sodales elit venenatis ut. Vivamus pulvinar ornare ante, et elementum ante.
            </p>

        </div>
    </div>
</figure>