<section>
    <div class="bannerSlim" style="background-image: url('images/banner.png');
        background-position-y: 55%;">
        <div class="bannerWrap"></div>
        <h2 ng-bind="product[0].ProductTitle"></h2>
    </div>
    <div class="wrapper clearfix">
        <!-- SVG Sprite -->
        <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
            <svg version="1.1" xmlns="http://www.w2.org/2000/svg" xmlns:xlink="http://www.w2.org/1999/xlink" focusable="false">
                <symbol id="ripply-scott" viewBox="0 0 100 100">
                    <circle id="ripple-shape" cx="1" cy="1" r="1" />
                </symbol>
            </svg>
        </div>

        <div class="clearfix product">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 productImg">
                <img ng-src="{{product[0].ProductImage}}" alt="">
            </div>
            <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 productText">

                <div class="productBlock">
                    <h3 ng-bind-template="{{product[0].ProductPrice * product.amount}} $" class="productPrice"></h3>
                    <div class="productToCart">
                        <div ng-show="!product.isInCart" class="clearfix buttonBlock">
                            <input  ng-model="ProductInput" ng-change="OnInputChange(ProductInput)" class="input" type="text" value="1">
                            <button translate ng-click=addProductToCart(product) id="js-ripple-btn" class="button styl-material">
                                PRODUCT_DIRECTIVE_TO_CART
                                <svg class="ripple-obj" id="js-ripple">
                                    <use height="100" width="100" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ripply-scott" class="js-ripple"></use>
                                </svg>
                            </button>
                        </div>
                        <div ng-show="product.isInCart" class="clearfix buttonBlock">
                            <div translate class="inCart">PRODUCT_DIRECTIVE_IN_CART</div>
                        </div>

                    </div>

                    <h3 translate>PRODUCT_DESCRIPTION</h3>
                    <p ng-bind="product[0].ProductDescription"></p>

                </div>

            </div>

        </div>
        <div class="clearfix product">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 productText">

                <div>
                    <div class="tabsContent">
                        <ul class="nav nav-tabs" id="myTabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" translate >PRODUCT_DESCRIPTION</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" translate>PRODUCT_CONSISTS_OF</a></li>
                            <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab" translate>PRODUCT_INFO</a></li>

                        </ul>
                    </div>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active productBlock" id="home">

                            <p ng-bind="product[0].ProductDescription"></p>

                        </div>
                        <div role="tabpanel" class="tab-pane productBlock" id="profile">

                            <p ng-bind="product[0].ProductDescription"></p>

                        </div>
                        <div role="tabpanel" class="tab-pane productBlock" id="info">

                            <p ng-bind-template="{{ 'PRODUCT_YEARLY_DOSAGE' | translate}}{{product[0].ProductYearlyDosage}}" translate><span class="bold" > </span></p>
                            <p ng-bind-template="{{ 'PRODUCT_HALF_DOSAGE' | translate}}{{product[0].ProductYearlyDosage / 2}}" translate><span class="bold" ></span></p>
                            <p ng-bind-template="{{ 'PRODUCT_SIDE_EFFECTS' | translate}}{{product[0].ProductSideEffects}}" translate><span class="bold" ></span></p>
                            <p ng-bind-template="{{ 'PRODUCT_ADDITIONAL_INFO' | translate}}{{product[0].ProductAdditionalInfo}}" translate><span class="bold" ></span></p>
                            <p ng-bind-template="{{ 'PRODUCT_PILLS_COUNT' | translate}}{{product[0].ProductPillsCount}}" translate><span class="bold" > </span></p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


